* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.button {
  border: none;
  border-radius: 15px;
  background-color: rgb(177, 117, 6);
  color: #fff;
  padding: 10px 15px;
}

button:focus,
button:hover {
  background-color: #000;
}

.button--2 {
  font-size: 20px;
  background-color: green;
}

.button:disabled {
  background-color: #aaa;
}

.scoresheet {
  display: flex;
  flex-wrap: wrap;
}

.scoresheet__column {
  flex-basis: 50%;
}

.scoresheet__row {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  align-items: center;
  border-bottom: solid 1px #eee;
}
.scoresheet__row.is-used {
  background-color: rgb(205, 255, 205);
}

.scoresheet__title {
  flex: 0 0 300px;
}

.scoresheet__score {
  font-weight: bold;
}

.scoresheet__total-score {
  font-style: italic;
  padding-left: 20px;
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.scoresheet__total-score strong,
.scoresheet__grand-total strong {
  margin-left: 10px;
}

.scoresheet__grand-total {
  font-size: 19px;
  margin: 20px 20px 40px 20px;
}

.dice {
  display: flex;
  margin-bottom: 40px;
}

.die {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  opacity: 0.8;
}

.die.is-locked {
  opacity: 1;
}

.die--0 {
  background-image: url("../images/dice-0.svg");
}

.die--1 {
  background-image: url("../images/dice-1.svg");
}

.die--2 {
  background-image: url("../images/dice-2.svg");
}

.die--3 {
  background-image: url("../images/dice-3.svg");
}

.die--4 {
  background-image: url("../images/dice-4.svg");
}

.die--5 {
  background-image: url("../images/dice-5.svg");
}

.die--6 {
  background-image: url("../images/dice-6.svg");
}
